body {
    background-color: #f8f9fa;
}


.btn-danger {
    background-color: #777170;
    border-color: #777170;
}

.btn-danger:hover {
    background-color: #4a4949;
    border-color: #4a4949;
}

.btn-primary {
    background-color: #ffffff;
    border-color: #000000;
    color : #000000
}


.no-border-box {
    border: none;
    border-bottom: 1px solid #d5d0d0; /* Change the color to match your text color */
    border-radius: 0; /* Optional: Remove border-radius if needed */
    padding: 3px 0; /* Optional: Add padding for better appearance */
    background-color: transparent; /* Optional: Set background color to transparent */
    width: 50%
}

.form-group {
    color: #aaa4a4
}

hr {
    margin: 3;
    border: none;
    border-top: 0px solid #d5d0d0; /* Style the border as needed */
    width: 50%; /* Set a specific width if desired */
}

/* If needed, you can style its container (in this case, the parent div) */
.container hr {
    margin-left: 0; /* Adjust the left margin */
}

