.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.photo {
  max-width: 600px;
  max-height: 500px;
  border-radius: 5px;
  border: 5px solid grey;
  overflow: hidden;
  display: flex; /* Ensures image is centered */
  justify-content: center; /* Centers image horizontally */
  align-items: center; /* Centers image vertically */
  padding: 0;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Preserves aspect ratio and fits the whole image */
}
