.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.photo {
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 600px;
  border-radius: 5px;
  border: 5px solid grey;
  overflow: hidden; /* Hides any content that extends beyond the border */
  padding: 0;
}

.photo img {
  width: auto;
  height: auto; /* Preserves the aspect ratio of the image */
}